<div>
	<div class="modal-header">
		<h3 class="modal-title"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add a Task</h3>
	</div>
        <div class="modal-body">
		<div>
			<form method="POST" role="form">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<div ng-repeat="alert in alerts" class="modal-alert">{{alert.msg}}</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="inputTitle">Task</label>
							<input type="text" class="form-control" id="inputTitle" placeholder="Task" ng-model="formdata.Title">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="inputStartdate">Start date</label>
							<input type="text" class="form-control" id="inputStartdate" placeholder="Start date" ng-model="formdata.Startdate">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label for="inputDuedate">Due date</label>
							<input type="text" class="form-control" id="inputDuedate" placeholder="Due date" ng-model="formdata.Duedate">
						</div>
					</div>
				</div>

				<div class="row" ng-show="goaldata.Task">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="inputPrev">After</label>
							<select class="form-control" id="inputPrev" ng-model="formdata.Prev">
								<option ng-repeat="prevtask in goaldata.Task" value="{{prevtask.id}}" ng-if="prevtask.id != taskid" ng-selected="{{prevtask.id == formdata.Prev}}">{{prevtask.title}}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="inputReminder">Send Reminder</label>
							<select class="form-control" id="inputReminder" ng-model="formdata.Reminder">
								<option value="1">Never</option>
								<option value="2">Daily</option>
								<option value="3">Weekly</option>
								<option value="3">Before due date</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							 <label for="inputCompleted" class="checkbox"><input type="checkbox" class="form-control" id="inputCompleted" placeholder="Completed" ng-model="formdata.Completed"> Completed</label>
						</div>
					</div>
				</div>

				<div class="row" ng-show="formdata.Completed">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="inputCompletiondate">Completion date</label>
							<input type="text" class="form-control" id="inputCompletiondate" placeholder="Completion date" ng-model="formdata.Completiondate">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="inputNotes">Notes</label>
							<textarea class="form-control" id="inputNotes" ng-model="formdata.Notes"></textarea>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="submit(formdata)">Submit</button>
		<button class="btn btn-info" ng-click="cancel()">Cancel</button>
	</div>
</div>
