<div class="row" ng-controller="MonitorShowCtrl">
	<div class="col-xs-12">
		<div>
			<span class="view-title">Monitor : {{ monitor.title }}</span>
		</div>

		<div class="details">
			<div>Type : {{monitortypes[monitor.type]}}
				<span class="pull-right">
					<a href='#/monitors/edit/{{monitor.id}}' class="btn btn-success btn-xs">
						Edit
					</a>
				</span>
			</div>
			<div>Minimum : {{monitor.minimum}}</div>
			<div>Maximum : {{monitor.maximum}}</div>
			<div>Minimum Threshold : {{monitor.minimum_threshold}}</div>
			<div>Maximum Threshold : {{monitor.maximum_threshold}}</div>
			<div ng-if="monitor.is_lower_better == 0">Is Lower Better : No</div>
			<div ng-if="monitor.is_lower_better != 0">Is Lower Better : Yes</div>
			<div>Units : {{monitor.units}}</div>
			<div>Frequency : {{monitorfrequencies[monitor.frequency]}}</div>
		</div>

		<div ng-show="alerts.length">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
		</div>

		<div class="view-actions">
			<button class="btn btn-primary" ng-click="addMonitorvalue()">Add Value</button>
			<span class="small-margin"></span>
			<a href="#/monitors" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
		</div>

		<div class="view-content" ng-hide="monitorvalues.length">
			<div>No values found. Please add a value to get started.</div>
		</div>
		<div class="view-content" ng-show="monitorvalues.length">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-left">#</th>
						<th class="col-sm-1">Date</th>
						<th class="text-center">Value</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="monitorvalue in monitorvalues">
						<td class="text-left">{{ $index + 1 }}</td>
						<td class="text-left">{{ monitorvalue.date | showDate }}</td>
						<td class="text-center">{{ monitorvalue.value }}</td>
						<td class="text-center">
							<a href="" ng-click="editMonitorvalue(monitorvalue.id)"><span class="glyphicon glyphicon-pencil"></span></a>
							<span class="small-margin"></span>
							<a href="" ng-click="deleteMonitorvalue(monitorvalue.id)"><span class="glyphicon glyphicon-trash"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>
