<div class="row" ng-controller="JournalAddCtrl">
	<div class="col-lg-12">
		<div class="form-title">Create a Journal Entry</div>
	</div>
	<div class="col-lg-12" ng-show="alerts.length">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<div>
	<form method="POST" role="form">
		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputTitle">Entry title</label>
					<input type="text" class="form-control" id="inputTitle" placeholder="Entry title" ng-model="formdata.Title">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputEntry">Entry</label>
					<textarea class="form-control" id="inputEntry" ng-model="formdata.Entry" rows="18"></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="inputEntrydate">Date</label>
					<input type="text" class="form-control" id="inputEntrydate" placeholder="Entry date" ng-model="formdata.Entrydate">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div>
					<button class="btn btn-primary" ng-click="addJournal()">Submit</button>
					<a href="#/journals" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
				</div>
			</div>
		</div>
	</form>
	</div>
</div><!-- END row -->
