<div class="row" ng-controller="JournalViewCtrl">
	<div class="col-lg-12">
		<div ng-show="alerts.length">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>

		<div>
			<div class="view-title">{{ journal.Journal.title }}</div>
			<div class="small-text">{{ journal.Journal.entrydate | dateToISO }}</div>
		</div>

		<div class="view-content">
			<div>{{ journal.Journal.entry }}</div>
		</div>

		<div class="view-actions">
			<a href='#/journals/edit/{{journal.Journal.id}}' class="btn btn-primary" ng-click="clearAlerts()">Edit Entry</a>
			<a href="#/journals" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
		</div>
	</div>
</div>
