<div class="row" ng-controller="GoalAddCtrl">
	<div class="col-xs-12">
		<div class="form-title">Create a SMART Goal</div>
	</div>
	<div class="col-xs-12" ng-show="alerts.length">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<div>
	<form method="POST" role="form" name="appForm">
		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputTitle">Title</label>
					<input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="formdata.Title" ng-required="true">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="inputStartdate">Start date</label>
					<div class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="formdata.Startdate" is-open="calendar.opened.Startdate" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Start date" id="inputStartdate" ng-click="calendar.open($event, 'Startdate')" ng-required="true">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="calendar.open($event, 'Startdate')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="inputDuedate">Due date</label>
					<div class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="formdata.Duedate" is-open="calendar.opened.Duedate" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Due date" id="inputDuedate" ng-click="calendar.open($event, 'Duedate')" ng-required="true">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="calendar.open($event, 'Duedate')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="inputCategory">Category</label>
					<select class="form-control" id="inputCategory" ng-model="formdata.Category" ng-required="true">
						<option ng-repeat="(id, category) in categories" value="{{id}}">{{category}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="inputDifficulty">Difficulty</label>
					<select class="form-control" id="inputDifficulty" ng-model="formdata.Difficulty" ng-required="true">
						<option ng-repeat="(id, difficulty) in difficulties" value="{{id}}">{{difficulty}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4">
				<div class="form-group">
					<label for="inputPriority">Priority</label>
					<select class="form-control" id="inputPriority" ng-model="formdata.Priority" ng-required="true">
						<option ng-repeat="(id, priority) in priorities" value="{{id}}">{{priority}}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputReason">Reason why you want to achieve this goal</label>
					<textarea class="form-control" id="inputReason" ng-model="formdata.Reason"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<div>
					<button class="btn btn-primary" ng-click="addGoal()">Submit</button>
					<a href="#/goals" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</div>
	</form>
	</div>
</div><!-- END row -->
