<div class="row" ng-controller="GoalManageCtrl">
	<div class="col-xs-12">
		<span class="view-title">{{ goal.title }}</span>
		<span class="small-margin"></span>
		<a href='#/goals/edit/{{goal.id}}'><span class="glyphicon glyphicon-pencil"></span></a>
	</div>

	<div class="col-xs-12">
		<div class="goal-details">
			<div>Start date : {{ goal.start_date | showDate }}</div>
			<div>Due date : {{ goal.due_date | showDate }}</div>
			<div>Category : {{ categories[goal.category_id] }}</div>
			<div>Difficulty : {{ difficulties[goal.difficulty] }}</div>
			<div>Priority : {{ priorities[goal.priority] }}</div>
			<div>Completed : {{ goal.task_completed }} / {{ goal.task_total }}</div>
			<div>Reason : {{ goal.reason }}</div>
		</div>
	</div>

	<div class="col-xs-12" ng-show="alerts.length">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<div class="col-xs-12">
		<button class="btn btn-primary" ng-click="addTask()">Add Task</button>
		<span class="small-margin"></span>
		<a href="#/goals" class="btn btn-info">Cancel</a>
	</div>

	<div class="col-xs-12" ng-hide="tasks.length">
		<div>No tasks found. Please add a task to get started.</div>
	</div>
	<div class="col-xs-12" ng-show="tasks.length">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-left">#</th>
					<th class="text-left">Task</th>
					<th class="text-center">Start date</th>
					<th class="text-center">Due date</th>
					<th class="text-center">Completed</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="task in tasks">
					<td class="text-left">{{ $index + 1 }}</td>
					<td class="text-left">{{ task.title }}</td>
					<td class="text-center">{{ task.start_date | showDate }}</td>
					<td class="text-center">{{ task.due_date | showDate }}</td>
					<td ng-if="task.is_completed == true" class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
					<td ng-if="task.is_completed == false" class="text-center">
						<button class="btn-mini btn-xmini btn-default" ng-click="doneTask(task.id)">Done</button>
					</td>
					<td class="text-center">
						<a href="" ng-click="editTask(task.id)"><span class="glyphicon glyphicon-pencil"></span></a>
						<span class="small-margin"></span>
						<a href="" ng-click="deleteTask(task.id)"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div><!-- END row -->
