<div class="row" ng-controller="GoalShowCtrl">
	<div class="col-xs-12">
		<div>
			<span class="view-title">Goal : {{ goal.title }}</span>
		</div>

		<div class="details">
			<div>Start date : {{ goal.start_date | showDate }}
				<span class="pull-right">
					<a href='#/goals/edit/{{goal.id}}' class="btn btn-success btn-xs">
						Edit
					</a>
				</span>
			</div>
			<div>Due date : {{ goal.due_date | showDate }}</div>
			<div>Category : {{ categories[goal.category_id] }}</div>
			<div>Difficulty : {{ difficulties[goal.difficulty] }}</div>
			<div>Priority : {{ priorities[goal.priority] }}</div>
			<div>Completed : {{ goal.task_completed }} / {{ goal.task_total }}</div>
			<div>Reason : {{ goal.reason }}</div>
		</div>

		<div ng-show="alerts.length">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
		</div>

		<div class="view-actions">
			<button class="btn btn-primary" ng-click="addTask()">Add Task</button>
			<span class="small-margin"></span>
			<a href="#/goals" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
		</div>

		<div class="view-content" ng-hide="tasks.length">
			<div>No tasks found. Please add a task to get started.</div>
		</div>
		<div class="view-content" ng-show="tasks.length">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-left">#</th>
						<th class="text-left">Task</th>
						<th class="text-center">Start date</th>
						<th class="text-center">Due date</th>
						<th class="text-center">Completed</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="task in tasks">
						<td class="text-left">{{ $index + 1 }}</td>
						<td class="text-left">{{ task.title }}</td>
						<td class="text-center">{{ task.start_date | showDate }}</td>
						<td class="text-center">{{ task.due_date | showDate }}</td>
						<td ng-if="task.is_completed == true" class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
						<td ng-if="task.is_completed == false" class="text-center">
							<button class="btn-mini btn-xmini btn-default" ng-click="doneTask(task.id)">Done</button>
						</td>
						<td class="text-center">
							<a href="" ng-click="editTask(task.id)"><span class="glyphicon glyphicon-pencil"></span></a>
							<span class="small-margin"></span>
							<a href="" ng-click="deleteTask(task.id)"><span class="glyphicon glyphicon-trash"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div><!-- END row -->
