.header-button {
	padding-bottom: 10px;
}

.form-title {
	font-size: 23px;
}

.small-margin {
	padding-right: 15px;
}

.small-text {
	font-size: 11px;
	color: #AAAAAA;
}

.view-title {
	font-size: 23px;
}

.view-content {
	padding: 10px 0 20px 0;
}

.view-content-footer {
	padding: 0 0 20px 0;
}

h3.modal-title-confirm {
	padding-left: 20px;
}

.modal-alert {
	color: #FF0000;
}

/*
.row.header .user > .item-link {
	width: 120px;
}

.row.header .user > .item i.item-icon {
	font-size: 13px;
	padding-right: 2px;
}
*/

.row.header .user > .item {
	display: inline-block;
	float: right;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	padding-right: 20px;
}

.row.header .user > .item a {
	text-decoration: none;
}

.row.header .user > .item a:hover {
	color: #333333;
}

.row.header .user > .item a .fa {
	font-size: 14px;
}

.alert {
	margin: 6px 0 10px 0;
}

.goal-details {
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	background-color: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
}
