.header-button {
	padding-bottom: 10px;
}

.form-title {
	font-size: 23px;
}

.small-margin {
	padding-right: 15px;
}

.small-text {
	font-size: 11px;
	color: #AAAAAA;
}

.view-title {
	font-size: 23px;
}

.view-content {
	padding: 10px 0 20px 0;
}

.view-content-footer {
	padding: 0 0 20px 0;
}

h3.modal-title-confirm {
	padding-left: 20px;
}

.modal-alert {
	color: #FF0000;
}
