<div class="row" ng-controller="ActivityEditCtrl">
	<div class="col-xs-12">
		<div class="form-title">Edit your Activity</div>
	</div>

	<div class="col-xs-12" ng-show="alerts.length">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	</div>

	<div>
	<form method="POST" role="form" name="appForm">
		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputName">Name</label>
					<input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="formdata.Name">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div>
					<button class="btn btn-primary" ng-click="editActivity()">Submit</button>
					<a href="#/timetables/manage" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
				</div>
			</div>
		</div>
	</form>
	</div>
</div><!-- END row -->
