<div class="row" ng-controller="NoteAddCtrl">
	<div class="col-lg-12">
		<div class="form-title">Create a Note</div>
	</div>
	<div class="col-lg-12" ng-show="alerts.length">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<div>
	<form method="POST" role="form">
		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputTitle">Note title</label>
					<input type="text" class="form-control" id="inputTitle" placeholder="Note title" ng-model="formdata.Title">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputNote">Note</label>
					<textarea class="form-control" id="inputNote" ng-model="formdata.Note" rows="18"></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					 <label for="inputPinDashboard" class="checkbox"><input type="checkbox" class="form-control" id="inputPinDashboard" placeholder="Completed" ng-model="formdata.PinDashboard"> Pin to Dashboard</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					 <label for="inputPinTop" class="checkbox"><input type="checkbox" class="form-control" id="inputPinTop" placeholder="Completed" ng-model="formdata.PinTop"> Pin to Top</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div>
					<button class="btn btn-info" ng-click="addNote()">Submit</button>
					<a href="#/notes" class="btn btn-danger">Cancel</a>
				</div>
			</div>
		</div>
	</form>
	</div>
</div><!-- END row -->
