<div class="row" ng-controller="TimewatchEditCtrl">
	<div class="col-xs-12">
		<div class="form-title">Edit Timewatch</div>
	</div>

	<div class="col-xs-12" ng-show="alerts.length">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	</div>

	<div>
		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputGoal">Selected Goal</label>
					<input class="form-control" id="inputGoal" ng-disabled="1" ng-model="formdata.GoalTitle">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputTask">Selected Task</label>
					<input class="form-control" id="inputTask" ng-disabled="1" ng-model="formdata.TaskTitle">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputStartdate">Start time</label>
					<table>
					<tr>
					<td>
					<div class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="formdata.Startdate" is-open="calendar.opened.Startdate" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Start time" id="inputStartdate" ng-click="calendar.open($event, 'Startdate')">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="calendar.open($event, 'Startdate')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
					</td>
					<td>
					<div>
						<timepicker ng-model="formdata.Starttime" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
					</div>
					</td>
					</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					 <label for="inputIsStopped" class="checkbox">
						<input type="checkbox" class="form-control" id="inputIsStopped" ng-model="formdata.IsStopped"> Timer stopped
					 </label>
				</div>
			</div>
		</div>

		<div class="row" ng-show="formdata.IsStopped">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputStopdate">Stop time</label>
					<table>
					<tr>
					<td>
					<div class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="formdata.Stopdate" is-open="calendar.opened.Stopdate" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Stop time" id="inputStopdate" ng-click="calendar.open($event, 'Stopdate')">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="calendar.open($event, 'Stopdate')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
					</td>
					<td>
					<div>
						<timepicker ng-model="formdata.Stoptime" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
					</div>
					</td>
					</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div>
					<button class="btn btn-primary" ng-click="editTimewatch()">Submit</button>
					<a href="#/timewatches" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>
