<div class="row" ng-controller="TimewatchStopCtrl">
	<div class="col-lg-12">
		<div class="form-title">Stop Timer</div>
	</div>

	<div class="col-lg-12" ng-show="alerts.length">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	</div>

	<div>
		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputGoalTitle">Selected Goal</label>
					<input class="form-control" id="inputGoalTitle" ng-disabled="1" ng-model="formdata.GoalTitle">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputTaskTitle">Selected Task</label>
					<input class="form-control" id="inputTaskTitle" ng-disabled="1" ng-model="formdata.TaskTitle">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputStarttime">Started</label>
					<input class="form-control" id="inputStarttime" ng-disabled="1" ng-model="formdata.Starttime">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputTitle">Time Elapsed :</label>
					<label for="inputTitle">TODO Hours</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div>
					<button class="btn btn-danger btn-lg" ng-click="stopTimer()">STOP TIMER</button>
					<a href="#/timewatches" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
				</div>
			</div>
		</div>
	</div>
</div>
