<div class="row" ng-controller="GoalShowCtrl">
<div class="col-md-6">
	<div class="row">
		<div class="col-xs-8">
			<div><a href="#/add" class="btn btn-info">Add Goal</a></div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-8">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Goal</th>
				<th>Completion</th>
				<th>Priority</th>
				<th>Difficulty</th>
				<th>Due date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="goal in goals">
				<td class="clickable" ng-click="manageGoal(goal.Goal.id)">{{ goal.Goal.title }}</td>
				<td class="clickable" ng-click="manageGoal(goal.Goal.id)">{{ goal.Goal.completion_percent }}</td>
				<td class="clickable" ng-click="manageGoal(goal.Goal.id)">{{ goal.Goal.priority }}</td>
				<td class="clickable" ng-click="manageGoal(goal.Goal.id)">{{ goal.Goal.difficulty }}</td>
				<td class="clickable" ng-click="manageGoal(goal.Goal.id)">{{ goal.Goal.end_date }}</td>
				<td>
					<div class="btn-group" dropdown>
						<button type="button" class="btn btn-danger">Actions</button>
						<button type="button" class="btn btn-danger dropdown-toggle">
						<span class="caret"></span>
						<span class="sr-only">Split button!</span>
						</button>
						<ul class="dropdown-menu" role="menu">
						<li><a href='#/manage/{{goal.Goal.id}}'>Manage Goal</a></li>
						<li class="divider"></li>
						<li><a href='#/edit/{{goal.Goal.id}}'>Edit Goal</a></li>
						<li><a href='#' ng-click="deleteGoal(goal.Goal.id)">Delete Goal</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div><!-- END col-md-6 -->
</div><!-- END row -->
