<div class="row" ng-controller="NoteShowCtrl">
	<div class="col-xs-12">

		<div ng-show="alerts.length">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
		</div>

		<div>
			<span class="view-title">{{ note.title }}</span>
			<span class="small-margin"></span>
			<span class="small-text">created on {{note.created_at | showDate }}</span>
		</div>

		<div class="view-content">
			<div ng-bind-html="skipFilter(note.note)"></div>
		</div>

		<div class="view-content-footer">
			<div ng-show="note.pin_dashboard"><span class="fa fa-thumb-tack"></span> Pinned to Dashboard</div>
			<div ng-show="note.pin_top"><span class="fa fa-thumb-tack"></span> Pinned to Top</div>
		</div>

		<div class="view-actions">
			<a href='#/notes/edit/{{note.id}}' class="btn btn-primary">Edit Note</a>
			<a href="#/notes" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
		</div>
	</div>
</div>
