<div class="row" ng-controller="ChangePasswordCtrl">
	<div class="col-xs-12">
		<div class="form-title">Change your Password</div>
	</div>
	<div class="col-xs-12" ng-show="alerts.length">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	</div>

	<div>
	<form method="POST" role="form" name="appForm">
		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputOldPassword">Old Password</label>
					<input type="password" class="form-control" id="inputOldPassword" placeholder="Old Password" ng-model="formdata.OldPassword">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputNewPassword">New Password</label>
					<input type="password" class="form-control" id="inputNewPassword" placeholder="New Password" ng-model="formdata.NewPassword">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div>
					<button class="btn btn-primary" ng-click="changePassword()">Submit</button>
					<a href="#/users/profile" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
				</div>
			</div>
		</div>
	</form>
	</div>
</div><!-- END row -->
