<div class="container" ng-controller="UserRegisterCtrl">
        <div id="signup-box" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                        <div class="panel-heading">
                                <span class="panel-title">Sign Up</span>
                                <span class="pull-right panel-link"><a href="#">Sign In</a></span>
                        </div>

                        <div class="panel-body" >

                                <form class="form-horizontal" role="form">

                                <div class="form-group">
                                        <div class="col-md-12" ng-show="alerts.length">
                                        	<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
                                        </div>
                                </div>

                                <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="inputUsername" type="text" class="form-control" placeholder="Username" ng-model="formdata.Username">
                                </div>

                                <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="inputPassword" type="password" class="form-control" placeholder="Password" ng-model="formdata.Password">
                                </div>

                                <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input id="inputEmail" type="email" class="form-control"  placeholder="Email address" ng-model="formdata.Email">
                                </div>

                                <div class="form-group">
                                        <div class="col-sm-12">
                                                <button class="btn btn-primary" ng-click="register()">Register</button>
                                        </div>
                                </div>

                                </form>

                        </div>
                </div>
        </div>
</div>
