<div class="row" ng-controller="JournalEditCtrl">
	<div class="col-xs-12">
		<div class="form-title">Edit your Journal Entry</div>
	</div>

	<div class="col-xs-12" ng-show="alerts.length">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	</div>

	<div>
	<form method="POST" role="form" name="appForm">
		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<label for="inputTitle">Title</label>
					<input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="formdata.Title" ng-required="true">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
				<div class="form-group">
					<label for="inputDate">Date</label>
					<div class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="formdata.Date" is-open="calendar.opened.Date" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Date" ng-click="calendar.open($event, 'Date')" ng-required="true">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="calendar.open($event, 'Date')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div class="form-group">
					<text-angular id="inputEntry" ng-model="formdata.Entry"></text-angular>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8">
				<div>
					<button class="btn btn-primary" ng-click="editJournal()">Submit</button>
					<a href="#/journals" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
				</div>
			</div>
		</div>
	</form>
	</div>
</div><!-- END row -->
