<div class="row" ng-controller="TimetableManageCtrl">
	<div class="col-xs-12">

		<div class="header-button">
			<a href="#/timetables/activities/add" class="btn btn-primary">Add Activity</a>
			<span class="small-margin"></span>
			<a href="#/timetables" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
		</div>

		<div ng-show="alerts.length">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
		</div>

		<tabset>
			<tab>
				<tab-heading>All</tab-heading>
				<div class="timetable-day">All Activities</div>
				<div ng-hide="activities.length">No activities found. Please add one to get started.</div>
				<div>
					<table class="table table-hover" ng-show="activities.length">
						<thead>
							<tr>
								<th>#</th>
								<th>Activity</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="activity in activities">
								<td class="text-left">{{ $index + 1 }}</td>
								<td>{{activity.name}}</td>
								<td class="text-left">
									<a href='#/timetables/schedule/{{activity.id}}' ng-click="clearAlerts()">Schedule</a>
									<span class="small-margin"></span>
									<a href='#/timetables/activities/edit/{{activity.id}}' ng-click="clearAlerts()">Edit</a>
									<span class="small-margin"></span>
									<a href='#/timetables/manage' ng-click="deleteActivity(activity.id)"><span class="glyphicon glyphicon-trash"></span></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
			<tab>
				<tab-heading>Sunday</tab-heading>
				<div class="timetable-day">Timetable for Sunday</div>
				<div ng-hide="allschedules.sunday.length">No schedule found. Please add one to get started.</div>
				<div>
					<table class="table table-hover" ng-show="allschedules.sunday.length">
						<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Activity</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="schedule in allschedules.sunday">
								<td>{{schedule.from_time | showTime }}</td>
								<td>{{schedule.to_time | showTime }}</td>
								<td>{{schedule.activity_name}}</td>
								<td class="text-left">
									<a href='#/timetables/schedule/{{schedule.activity_id}}' ng-click="clearAlerts()">Schedule</a>
									<span class="small-margin"></span>
									<a href='#/timetables/activities/edit/{{schedule.activity_id}}' ng-click="clearAlerts()">Edit</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
			<tab>
				<tab-heading>Monday</tab-heading>
				<div class="timetable-day">Timetable for Monday</div>
				<div ng-hide="allschedules.monday.length">No schedule found. Please add one to get started.</div>
				<div>
					<table class="table table-hover" ng-show="allschedules.monday.length">
						<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Activity</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="schedule in allschedules.monday">
								<td>{{schedule.from_time | showTime }}</td>
								<td>{{schedule.to_time | showTime }}</td>
								<td>{{schedule.activity_name}}</td>
								<td class="text-left">
									<a href='#/timetables/schedule/{{schedule.activity_id}}' ng-click="clearAlerts()">Schedule</a>
									<span class="small-margin"></span>
									<a href='#/timetables/activities/edit/{{schedule.activity_id}}' ng-click="clearAlerts()">Edit</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
			<tab>
				<tab-heading>Tuesday</tab-heading>
				<div class="timetable-day">Timetable for Tuesday</div>
				<div ng-hide="allschedules.tuesday.length">No schedule found. Please add one to get started.</div>
				<div>
					<table class="table table-hover" ng-show="allschedules.tuesday.length">
						<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Activity</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="schedule in allschedules.tuesday">
								<td>{{schedule.from_time | showTime }}</td>
								<td>{{schedule.to_time | showTime }}</td>
								<td>{{schedule.activity_name}}</td>
								<td class="text-left">
									<a href='#/timetables/schedule/{{schedule.activity_id}}' ng-click="clearAlerts()">Schedule</a>
									<span class="small-margin"></span>
									<a href='#/timetables/activities/edit/{{schedule.activity_id}}' ng-click="clearAlerts()">Edit</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
			<tab>
				<tab-heading>Wednesday</tab-heading>
				<div class="timetable-day">Timetable for Wednesday</div>
				<div ng-hide="allschedules.wednesday.length">No schedule found. Please add one to get started.</div>
				<div>
					<table class="table table-hover" ng-show="allschedules.wednesday.length">
						<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Activity</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="schedule in allschedules.wednesday">
								<td>{{schedule.from_time | showTime }}</td>
								<td>{{schedule.to_time | showTime }}</td>
								<td>{{schedule.activity_name}}</td>
								<td class="text-left">
									<a href='#/timetables/schedule/{{schedule.activity_id}}' ng-click="clearAlerts()">Schedule</a>
									<span class="small-margin"></span>
									<a href='#/timetables/activities/edit/{{schedule.activity_id}}' ng-click="clearAlerts()">Edit</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
			<tab>
				<tab-heading>Thursday</tab-heading>
				<div class="timetable-day">Timetable for Thursday</div>
				<div ng-hide="allschedules.thursday.length">No schedule found. Please add one to get started.</div>
				<div>
					<table class="table table-hover" ng-show="allschedules.thursday.length">
						<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Activity</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="schedule in allschedules.thursday">
								<td>{{schedule.from_time | showTime }}</td>
								<td>{{schedule.to_time | showTime }}</td>
								<td>{{schedule.activity_name}}</td>
								<td class="text-left">
									<a href='#/timetables/schedule/{{schedule.activity_id}}' ng-click="clearAlerts()">Schedule</a>
									<span class="small-margin"></span>
									<a href='#/timetables/activities/edit/{{schedule.activity_id}}' ng-click="clearAlerts()">Edit</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
			<tab>
				<tab-heading>Friday</tab-heading>
				<div class="timetable-day">Timetable for Friday</div>
				<div ng-hide="allschedules.friday.length">No schedule found. Please add one to get started.</div>
				<div>
					<table class="table table-hover" ng-show="allschedules.friday.length">
						<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Activity</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="schedule in allschedules.friday">
								<td>{{schedule.from_time | showTime }}</td>
								<td>{{schedule.to_time | showTime }}</td>
								<td>{{schedule.activity_name}}</td>
								<td class="text-left">
									<a href='#/timetables/schedule/{{schedule.activity_id}}' ng-click="clearAlerts()">Schedule</a>
									<span class="small-margin"></span>
									<a href='#/timetables/activities/edit/{{schedule.activity_id}}' ng-click="clearAlerts()">Edit</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
			<tab>
				<tab-heading>Saturday</tab-heading>
				<div class="timetable-day">Timetable for Saturday</div>
				<div ng-hide="allschedules.saturday.length">No schedule found. Please add one to get started.</div>
				<div>
					<table class="table table-hover" ng-show="allschedules.saturday.length">
						<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Activity</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="schedule in allschedules.saturday">
								<td>{{schedule.from_time | showTime }}</td>
								<td>{{schedule.to_time | showTime }}</td>
								<td>{{schedule.activity_name}}</td>
								<td class="text-left">
									<a href='#/timetables/schedule/{{schedule.activity_id}}' ng-click="clearAlerts()">Schedule</a>
									<span class="small-margin"></span>
									<a href='#/timetables/activities/edit/{{schedule.activity_id}}' ng-click="clearAlerts()">Edit</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
		</tabset>

	</div>
</div><!-- END row -->
