<div class="row" ng-controller="TimetableScheduleCtrl">
	<div class="col-xs-12">
		<div>
			<span class="view-title">Schedule for {{activity.name}}</span>
		</div>

		<div class="view-actions">
			<button class="btn btn-primary" ng-click="addSchedule()">Add Schedule</button>
			<span class="small-margin"></span>
			<a href="#/timetables/manage" class="btn btn-info" ng-click="clearAlerts()">Cancel</a>
		</div>

		<div ng-show="alerts.length">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
		</div>

		<div ng-hide="timetables.length">No schedule found. Please add one to get started.</div>

		<div>
			<table class="table table-hover" ng-show="timetables.length">
				<thead>
					<tr>
						<th>From</th>
						<th>To</th>
						<th>Days</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="timetable in timetables">
						<td>{{timetable.from_time | showTime }}</td>
						<td>{{timetable.to_time | showTime }}</td>
						<td>{{timetable.days}}</td>
						<td class="text-center">
							<a href="" ng-click="editSchedule(timetable.id)"><span class="glyphicon glyphicon-pencil"></span></a>
							<span class="small-margin"></span>
							<a href="" ng-click="deleteSchedule(timetable.id)"><span class="glyphicon glyphicon-trash"></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
