<div>
	<div class="modal-header">
		<h3 class="modal-title"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp; Edit a Task</h3>
	</div>
        <div class="modal-body">
		<div>
			<form method="POST" role="form">
				<div class="row" ng-show="modalAlerts.length">
					<div class="col-xs-12">
						<div>
							<div ng-repeat="alert in modalAlerts" type="danger" class="modal-alert">{{alert.msg}}</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div>
							<label for="inputTitle">Task</label>
							<input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="formdata.Title">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="inputStartdate">Start date</label>
							<div class="input-group">
								<input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="formdata.Startdate" is-open="calendar.opened.Startdate" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Start date" id="inputStartdate" ng-click="calendar.open($event, 'Startdate')">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="calendar.open($event, 'Startdate')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="inputDuedate">Due date</label>
							<div class="input-group">
								<input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="formdata.Duedate" is-open="calendar.opened.Duedate" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Due date" id="inputDuedate" ng-click="calendar.open($event, 'Duedate')">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="calendar.open($event, 'Duedate')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row" ng-show="tasks.length > 1">
					<div class="col-xs-12">
						<div>
							<label for="inputPrev">After task</label>
							<select class="form-control" id="inputPrev" ng-model="formdata.Prev">
								<option ng-repeat="prevtask in tasks" value="{{prevtask.id}}" ng-if="prevtask.id != id" ng-selected="{{prevtask.id == formdata.Prev}}">{{prevtask.title}}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div>
							 <label for="inputCompleted" class="checkbox"><input type="checkbox" id="inputCompleted" placeholder="Completed" ng-model="formdata.Completed"> Completed</label>
						</div>
					</div>
				</div>

				<div class="row" ng-show="formdata.Completed">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="inputCompletiondate">Completion date</label>
							<div class="input-group">
								<input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="formdata.Completiondate" is-open="calendar.opened.Completiondate" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Completion date" id="inputCompletiondate" ng-click="calendar.open($event, 'Completiondate')">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="calendar.open($event, 'Completiondate')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div>
							<label for="inputNotes">Notes</label>
							<textarea class="form-control" id="inputNotes" ng-model="formdata.Notes"></textarea>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="editTask(formdata)">Submit</button>
		<button class="btn btn-info" ng-click="cancel()">Cancel</button>
	</div>
</div>
